{% extends 'skeleton/main.html' %}
{% load crispy_forms_tags %}

{% block title_header %}
    <div class="page-title-box">
        <h4 class="page-title">{{ page.title }}</h4>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="#">{{ page.bc1 }}</a></li>
            <li class="breadcrumb-item active">{{ page.bc2 }}</li>
        </ol>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card-box">
            {% for form_field in form %}
                {% if form_field.name != 'password' %}
                {{ form_field|as_crispy_field }}
                {% endif %}
            {% endfor %}
            <div class="control-group">
            <label for="">Key</label>
            <div class="alert alert-info">{{ object.apikey_set.first.api_key }}
            </div>
            </div>
            <p><a href="{% url 'api_user-password' %}">Change password</a></p>
            <p><a href="{% url 'api_key_update' %}">New API Key</a></p>
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
