{% load static %}

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                2016 - 2018 © Minton - Coderthemes.com
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{% static 'api_user/js/jquery.min.js' %}"></script>
<script src="{% static 'api_user/js/popper.min.js' %}"></script><!-- Popper for Bootstrap -->
<script src="{% static 'api_user/js/bootstrap.min.js' %}"></script>
<script src="{% static 'api_user/js/detect.js' %}"></script>
<script src="{% static 'api_user/js/fastclick.js' %}"></script>
<script src="{% static 'api_user/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'api_user/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'api_user/js/waves.js' %}"></script>
<script src="{% static 'api_user/js/wow.min.js' %}"></script>
<script src="{% static 'api_user/js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'api_user/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'api_user/plugins/switchery/switchery.min.js' %}"></script>

<!-- Custom main Js -->
<script src="{% static 'api_user/js/jquery.core.js' %}"></script>
<script src="{% static 'api_user/js/jquery.app.js' %}"></script>
