{% extends 'registration/skeleton/login.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

        <div class="card-box m-t-20">
        <div class="text-center">
            <h5 class="text-uppercase font-bold m-b-0">Confirm Email</h5>
        </div>
        <div class="text-center">
            <img src="{% static 'api_user/images/mail_confirm.png' %}" alt="email sent" class="thumb-lg m-t-20 center-block">
            <p class="text-muted font-13 m-t-20"> A email has been send to that address. Please check for it and click on the included link to reset your password. </p>
        </div>
    </div>

{% endblock %}
