.authentication {
    margin-left: auto;
    margin-right: auto;
    max-width: 30em;
}

.authentication h1  {
    font-size: 30px;
}

.authentication .socialaccount_providers {
    list-style-type: none;
}

.authentication .socialaccount_providers li {
    display: inline-block;
    background-color: #c6c6c6;
    padding: 5px;
}

.authentication .socialaccount_providers li:hover {
    background-color: #f1f1f1;
}

.authentication ul.errorlist.nonfield {
    list-style-type: none;
    padding: 12px;
    background-color: #ffdede;
}

.navigation {
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 35px;
}
.navigation h1 {
    display: inline-block;
    margin: 0;
}

.navigation .auth {
    display: inline-block;
    float: right;
}

.main-header {
    font-size: 35px;
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
}


.search-form input {
    width: 80%;
    margin-right: 15px;
}


.job-panel {
    margin: 30px;
}

.job-panel .counter {
    float: left;
    display: inline-block;
    width: 30px;
    font-size: 14px;
    color: #8e6e99;
}

.job-panel .content {
    display: inline-block;
}

.job-panel p {
    margin: 0;
}

.job-panel .header .title {
    font-size: 14px;
    color: #8e6e99;
    font-weight: bold;
}

.job-panel .body {
    font-size: 12px;

}

.job-panel .footer {
    font-size: 10px;
}